%form(action="/search" method="get")
  %label(for="city") 城市
  %br
  %input(name="city")
  %br
  %label(for="start") 入住日期
  %br
  %input(name="start" id="start_date")
  %br
  %label(for="end") 退房日期
  %br
  %input(name="end" id="end_date")
  %br
  %label(for="num_guests") 人数
  %br
  %input(name="num_guests")
  %br
  %input(type="submit")
