// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.calendar {
  table {
    td {
      color: #c0c0c0;
      &.filled {
        color: #f0a0a0;
      }
      &.available {
        color: #a0f0a0;
      }
    }
  }
}
